.buttona{
    background-color: #5F91F3;
    border: none;
    color: #FFFFFF;
    border-radius: 100px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin-left: 50px;
    
    margin-right: 60px;

}

.buttonb{
    margin-left: 50px;
    border: none;
    margin-right: 60px;
    border-radius: 200px;
}

.buttonc{
    margin-right: 60px;
    border: none;
    border-radius: 200px;
    
}
.buttond{
   
    border: none;
    border-radius: 200px;
}

.tabladecomunidad{
    color: #CACACA;
}
.tabladecomunidad1{
    padding-right : 30px;
    
}
.tabladecomunidad2{
    padding-right : 40px;
    
}

.Regresar{
    background-color: #FFFFFF;
    border: none;
    color: #FFFFFF;
    border-radius: 100px;
    padding-top: 3px;
    font-size: 20px;
    padding-right: 90%;
}
.logor{
    padding-left: 25%;
}